<html>
	<head>
		<meta charset="UTF-8">
		<title> Index </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">					
	</head>
	<body></br></br></br></br></br>
		<div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">Index</h1>
			</div></br></br></br>
				<h1 class="bottom">
					</br></br> 	<p class="bottom">Welcome,{{session.username}}! <a class="bottom" href="{{url_for('posts')}}"> Go To SocialMedia</a></p>	
				</h1></br>
				<table>

					
			</br></br></br></br>
				<a href="{{ url_for('logout') }}" class="btn">Logout</a>
		</div>
		</div>

