<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Here</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div align="center">
        <div class="border">
            <div class="header">
                <h1 class="word">Post Here</h1>
            </div>

            <form method="POST" action="{{ url_for('posts') }}">
                <textarea name="content" placeholder="Post Here" required></textarea>
                <button type="submit">Post</button>
            </form>
        </div>
    </div>
</body>
</html>
